@import url(color_schemes/blue.css);
@import url(color_schemes/green.css);
@import url(color_schemes/red.css);
@import url(color_schemes/gray.css);
@import url(color_schemes/black.css);
@import url(color_schemes/white.css);
@import url(color_schemes/orange.css);

.logo.custom-logo img{
	width:100% !important;
	margin:auto !important;
}
#content{
	width:100% !important;
	background:#FFFFFF !important;
	font-size:14px;
}
#banner{
	margin:auto;
	text-align:center;
	background:#FFFFFF !important;
}
