.red .ui-menu {
  width: 100%;
  text-align: left;
  font-size: 20px; }

.red #butt_menu {
  width: 50px;
  position: absolute;
  top: -70px;
  right: 5px; }

.red #container_menu {
  position: relative; }

.red #menu {
  display: none; }

.red #menuUl {
  background: #ff0000;
  color: #000000; }

.red #divSignIn {
  text-align: right;
  color: #000000 !important;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 4px;
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  width: 90px;
  top: 0px;
  right: 0px;
  background: #ff0000;
  text-decoration: none;
  border-bottom: 2px solid #000000;
  border-left: 2px solid #000000; }

.red #divSignIn a {
  text-decoration: none; }

.red #sep {
  width: 100%;
  margin-top: -20px;
  height: 2px;
  background: red; }

.red #powerByFooter {
  text-align: center !important;
  width: 100%;
  background: #ff6d6d;
  color: #000000;
  font-size: 16px !important; }

.red #powerByFooter a {
  color: #000000 !important; }

/* CSS per Menu Desktop */
.red .nav {
  margin: 0px;
  padding: 0px;
  list-style: none;
  background: #ff0000;
  width: 100%;
  height: 42px !important;
  font-size: 20px !important;
  border-top: 2px solid #000000; }

.red .nav li {
  float: left;
  width: 140px;
  height: 42px !important;
  position: relative;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000; }

.red .nav li a {
  background: #ff0000;
  color: #000000;
  display: block;
  padding: 7px 8px;
  text-decoration: none; }

.red .nav li a:hover {
  color: #4f0000;
  background: #ffa5a5;
  height: 42px !important; }

.red .selected {
  background: #ffa5a5 !important;
  color: #4f0000 !important;
  height: 42px !important; }

.red .nav ul {
  display: none;
  position: absolute;
  margin-left: 0px;
  list-style: none;
  height: 42px !important;
  padding: 0px; }

.red .nav ul li {
  width: 140px;
  float: left; }

.red .nav ul a {
  display: block;
  height: 15px;
  padding: 7px 8px;
  color: #000000;
  text-decoration: none;
  border-bottom: 1px solid #000000; }

.red .nav ul li a:hover {
  color: #4f0000; }

